/* ============================================ *
  Fonts
 * ============================================ */

 @font-face {
    font-family: 'Poppins-Black';
    src: url('../fonts/poppins/Poppins-Black.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('../fonts/poppins/Poppins-BlackItalic.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/poppins/Poppins-Bold.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('../fonts/poppins/Poppins-BoldItalic.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../fonts/poppins/Poppins-ExtraBold.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('../fonts/poppins/Poppins-ExtraBoldItalic.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('../fonts/poppins/Poppins-ExtraLight.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('../fonts/poppins/Poppins-ExtraLightItalic.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-Italic';
    src: url('../fonts/poppins/Poppins-Italic.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/poppins/Poppins-Light.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-LightItalic';
    src: url('../fonts/poppins/Poppins-LightItalic.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/poppins/Poppins-Medium.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-MediumItalic';
    src: url('../fonts/poppins/Poppins-MediumItalic.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/poppins/Poppins-Regular.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/poppins/Poppins-SemiBold.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('../fonts/poppins/Poppins-SemiBoldItalic.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-Thin';
    src: url('../fonts/poppins/Poppins-Thin.ttf')  format('truetype')
  }
  @font-face {
    font-family: 'Poppins-ThinItalic';
    src: url('../fonts/poppins/Poppins-ThinItalic.ttf')  format('truetype')
  }