
/* ============================================ *
 - Project Name: Landing Page (Capsule Corp)
 - Auther: Dupont Mickael
 - Date: 12/6/2020
 - Developer: Kareem Sultan
 - Framework: Bootstrap v 3
 - Description: Responsive static Landing Page - Figma to HTMl
 * ============================================ */


/* ============================================ *
 * Reset
 * ============================================ */

 *,
 *:before,
 *:after { 
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-text-size-adjust: 100%; }
body  {background:#fff; font:18px/1.35 'Poppins-Regular'; color:#000; text-align: left; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }
img { border: 0 none; -ms-interpolation-mode: bicubic; vertical-align: top; max-width: 100%; }
a             { color:#000; text-decoration:none; }
a:hover       { text-decoration:none; }
:focus        { outline:0; }
h1,h2,h3,h4,h5,p,label,a { margin: 0; color: #fff; }
h2,h3 { font-size: 58px; font-family: 'Poppins-Medium'; }
h3 {font-size: 30px;}
p,label { font-size: 18px; line-height: 180%; letter-spacing: .2px; }
.no-padding {
  padding:0!important
}
.section-title {
  text-align: center;
  padding: 40px 5px;
}
.section-title p {
  margin-top: 22px;
}
.align-lef {
  text-align: left;
}
@media (min-width: 992px) {

}

/* ============================================ *
 * Page Style
 * ============================================ */

body {
  /* height: 8000px; */
}
.home {
  width: 100%;
  position: absolute;
  display: none;
}
@media (min-width: 1500px) {
  .container {
    width: 1420px;
  }
  header .container {
    width: 1170px;
  }
}

/* ============================================ *
 * header
 * ============================================ */

 header {
   position: relative;
   overflow: hidden;
   padding-bottom: 70px;
   z-index: 999;
 }

 header .header-banner {
   position: absolute;
   width: 100%;
   height: 137%;
   background: url(../images/header.png) no-repeat center center;
   background-size: cover;
 }

 /*nav style*/

 header .navbar-nav {
    text-align: center;
 }

 /*nav style for desktop only*/

 @media (min-width: 768px) {
  header .navbar-nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: none;
    margin-top: 60px;
  }

  /*nav style for both desktop & mobile*/

  header .navbar-nav > li {
    float: none;
    flex: 1 1 auto;
  }
  header .nav > li > a {
    display: inline-block;
    padding: 0;
  }
  header .navbar-default .navbar-nav > .active > a,
  header .nav > li > a:hover {
    color: #00FFF9 !important;
    border-bottom-color: #00FFF9!important;
  }
}
  header .navbar-default,
  header .navbar-default .navbar-collapse,
  header .navbar-default .navbar-nav > .active > a, 
  header .navbar-default .navbar-nav > .active > a:hover, 
  header .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    border: none;
}
  header .nav > li > a {
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-size: 17.5px;
    line-height: 18px;
    color: #e2e2e2 !important;
    letter-spacing: .2px;
    border-bottom: 1px solid !important;
    border-bottom-color: transparent!important;
}

@media screen and (max-width:1199px) and (min-width:768px) {
  header .nav > li > a {
    font-size: 12px;
  }
}

/*hamburger toggler icon style*/

header .navbar-default .navbar-toggle:focus,
header .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
header .navbar-default .navbar-toggle {
    border: none;
}
header .navbar-toggle span.icon-bar {
    transition: all 0.15s;
}
header .navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
header .navbar-toggle span:nth-child(3) {
    opacity: 0;
}
header .navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
header .navbar-toggle.collapsed span:nth-child(2),
header .navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}
header .navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}

/*logo style*/

header .logo {
  text-align: center;
  padding-top: 123px;
}
header .logo img {
  width: 70%;
}

/*title & button & next style*/

header .title {
  text-align: center;
  padding-top: 49px;
}
header .title img {
  width: 83%;
}
button.contact-us-btn {
  border: none;
  background: #00FFF9;
  box-shadow: 0px 8px 20px rgba(0, 255, 249, 0.2);
  border-radius: 12px;
  padding: 24px 42px;
  font-size: 18px;
  line-height: 24px;
  color: #3C096C;
  font-family: 'Poppins-Bold';
  margin-top: 45px;
}
header .title .learn-more {
  display: inline-block;
  padding-top: 150px;
}
header .title .learn-more img {
  width: auto;
}
  
/*what-we-do section*/

section { overflow: hidden; position: relative; }
section .what-we-do-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
section.what-we-do {
  margin-top: -130px;
  padding-top: 135px;
  padding-bottom: 210px;
  background: url(../images/what-we-do.png) no-repeat center center;
  background-size: cover;
  z-index: 888;
}
.what-we-do .what-we-do-icons {
  text-align: center;
  overflow: hidden;
}
.what-we-do .what-we-do-icons img {
  width: 48%;
}
.what-we-do .what-we-do-icons h3 {
  margin-top: 32px;
}
.what-we-do .what-we-do-icons p {
  margin-top: 25px;
}
.what-we-do .what-we-do-icons .tech > img,
.what-we-do .what-we-do-icons .resources > img {
  width: 58%;
}
.what-we-do .what-we-do-icons .resources > p {
  width: 102%;
}

/*our-fleet section*/

.our-fleet .our-fleet-title {
  padding-top: 87px;
}
.our-fleet .our-fleet-title p {
  margin-top: 27px;
}
.our-fleet {
  padding-top: 220px;
  padding-bottom: 220px;
  margin-top: -105px;
  background: url(../images/our-fleet-bg.png) no-repeat center center;
  background-size: cover;
  z-index: 666;
}
.our-fleet .our-fleet-info {
  text-align: center;
  height: 431px;
  border-radius: 25px;
  background: linear-gradient(45deg, #411881 0%, #1183AD 100%);
  box-shadow: 0px 5px 30px rgba(12, 0, 46, 0.3);
  overflow: hidden;
  margin-bottom: 45px;
}
.our-fleet .our-fleet-info img {
  width: 100%;
  height: 180px;
}
.our-fleet .our-fleet-info p {
  margin-top: 55px;
}

/*who-we-are section*/

.who-we-are,
.our-stacks {
  margin-top: 85px;
}
.who-we-are .who-we-are-images {
  text-align: center;
}
.who-we-are .who-we-are-images > img {
  width: 45%;
  box-shadow: 0px 5px 30px rgba(12, 0, 50, 0.3);
  margin-bottom: 30px;
}
 
/*our-stacks*/

.our-stacks .our-stacks-logos-container {
  display: flex;
  flex-wrap: wrap;
}
.our-stacks .our-stacks-logos-container .our-stacks-logos {
  flex: 1 0 100%;
  text-align: center;
}
.our-stacks .our-stacks-logos-container .our-stacks-logos img {
  width: 74%;
}

/*what-we-are-looking-for*/

.what-we-are-looking-for {
  padding-top: 168px;
  padding-bottom: 220px;
  margin-top: -105px;
  background: url(../images/texture-bg.png) no-repeat center center;
  background-size: cover;
  z-index: 555;
}
.what-we-are-looking-for .chart img {
  width: 100%;
}
.what-we-are-looking-for .what-we-are-looking-for-title h2 {
  font-size: 42px;
  margin-bottom: 50px;
}
.what-we-are-looking-for .what-we-are-looking-for-title h3 {
  color: #00FFF9;
}
.what-we-are-looking-for .what-we-are-looking-for-title p {
  margin-bottom: 10px;
}

/* join-with-us */

.join-with-us {
  margin-top: 87px;
}
.join-with-us .details .details-icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url(../images/ellipse.png) no-repeat center center;
  background-size: cover;
  margin: auto;
  text-align: center;
  z-index: 777;
  position: relative;
}
.join-with-us .details .details-icon img {
    width: 60%;
    margin-top: 40px;
    display: inline-block;
}
.join-with-us .details .details-text {
  background: #240046;
  box-shadow: 0px 5px 30px rgba(12, 0, 46, 0.3);
  border-radius: 20px;
  height: 310px;
  margin-top: -100px;
  text-align: center;
  padding: 136px 35px 0;
}
.join-with-us .details .details-text h3 {
  margin-bottom: 16px;
}

/* aboard */

.aboard {
  margin-top: 110px;
}
.contact-us {
  width: 58%;
  margin:auto;
  padding: 54px 82px 50px;
  margin-top: 44px;
  background: linear-gradient(49.8deg, #411881 0%, #9B2BDC 100%);
  box-shadow: 0px 5px 30px rgba(12, 0, 46, 0.3);
  border-radius: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  padding: 34px 12px;
  border-radius: 18px;
}
.form-group label {
  font-size: 21px;
  margin-bottom: 12px;
}
.contact-us .contact-us-btn {
  display: block;
  width: 100%;
  margin-top: 0;
}

/* footer */
footer {
  padding-top: 168px;
  padding-bottom: 220px;
  margin-top: -155px;
  background: url(../images/footer-bg.png) no-repeat center center;
  background-size: cover;
}

footer .logo {
  text-align: center;
  padding-top: 10px;
}
footer .logo img {
  width: 57%;
}
footer .social {
  margin-top: 60px;
}
footer .social p {
  margin-bottom: 12px;
}
footer .social a {
  display: inline-block;
  padding: 0px 13px;
}
footer .social a img {
  width: 100%;
}
footer .privacy {
  margin-top: 50px;
}
footer .privacy a {
  padding: 0 17px;
}
footer .privacy a:nth-of-type(2) {
  position: relative;
}
footer .privacy a:nth-of-type(2):after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: #fff;
  top: 5px;
  right: 0;
}
footer .privacy a:nth-of-type(2):before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: #fff;
  top: 5px;
  left: 0;
}
footer .all-rights {
  color: #fff;
  margin-top: 35px;
}





/*responsive style for mobile*/

@media (max-width: 991px) {
  .what-we-do .what-we-do-icons p,
  .who-we-are .who-we-are-images p {
    font-size: 14px;
  }
  .what-we-do .what-we-do-icons h3 {
    font-size: 26px;
  }
  .who-we-are .who-we-are-images h3 {
    font-size: 20px;
  }
  .what-we-are-looking-for .what-we-are-looking-for-title {
    padding-left: 0!important;
  }
  .what-we-are-looking-for .what-we-are-looking-for-title h2 {
    font-size: 35px;
  }
  .join-with-us .details {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .our-stacks .our-stacks-logos-container {
    flex-wrap: nowrap;
  }
  .our-stacks .our-stacks-logos-container .our-stacks-logos {
    flex: 1 1 auto;
  }
  .our-stacks .our-stacks-logos-container .our-stacks-logos {
    text-align: right;
  }
  .our-stacks .our-stacks-logos-container .our-stacks-logos:last-child {
    padding-right: 16px;
    padding-top: 96px;
  }
  .our-stacks .our-stacks-logos-container .our-stacks-logos:nth-child(4) {
    padding-right: 38px;
    padding-top: 62px;
  }
  .our-stacks .our-stacks-logos-container .our-stacks-logos:nth-child(3) {
    padding-right: 30px;
    padding-top: 36px;
  }
  .our-stacks .our-stacks-logos-container .our-stacks-logos:nth-child(2) {
    padding-top: 60px;
    text-align: center;
  }
  .our-stacks .our-stacks-logos-container .our-stacks-logos:first-child {
    text-align: left;
    padding-top: 95px;
    padding-left: 18px;
  }
}
@media (max-width: 400px) {
  .join-with-us .details .details-text p {
    font-size: 14px;
  }
  .contact-us {
    padding-left: 15px;
    padding-right: 15px;
  }
  footer .privacy a {
    padding: 0px 7px;
    font-size: 14px;
  }
}
/* what-we-are-looking-for */

.what-we-are-looking-for .what-we-are-looking-for-title {
  padding-left: 50px;
  padding-top: 50px;
}

@media (max-width: 767px) {

  /*nav*/

  header .nav > li > a {
    background-color: #7918f5;
    border-bottom: 1px solid rgba(238, 238, 238, 0.5) !important;
  }
  header .navbar-default .navbar-nav > .active > a {
    background-color: #2c0c58;
    color: #00FFF9!important;
  }

  /*section-title*/

  .section-title,
  .our-fleet .our-fleet-title {
    padding: 10px 10px 0 10px;
    margin-bottom: 50px;
  }
  .section-title > h2 {
    font-size: 35px;
  }
  .section-title > p {
    font-size: 14px;
  }

  /*what-we-do*/

  section.what-we-do {
    margin-top: -185px;
  }

  .what-we-do .what-we-do-icons {
    margin-bottom: 20px;
  }

  /*.who-we-are .who-we-are-images*/

  .who-we-are, .our-stacks {
    margin-top: 20px;
  }

  .who-we-are .who-we-are-images {
    margin-bottom: 20px;
  }

  .our-fleet .our-fleet-info p {
    font-size: 15px;
  }
  .our-fleet {
    padding-top: 110px;
    margin-top: -250px;
    padding-bottom: 280px;
  }
  .our-stacks .our-stacks-logos-container .our-stacks-logos {
    margin-bottom: 20px;
  }
  .what-we-are-looking-for {
    margin-top: -325px;
  }
  /* contact-us */

  .contact-us {
    width: 100%;
  }

}
@media screen and (max-width:1199px) and (min-width:768px) {
  .our-fleet .our-fleet-info p {
    font-size: 14px;
  }
}
